.scrap-wrap
  display: flex
  justify-content: space-between
  margin: 30px 0
  .scrap
    &-item
      display: flex
      align-items: center
      margin-bottom: 5px
      img
        margin-right: 15px
