.main-wrapp
  background: url("../images/main-bg.png") center no-repeat
  height: 488px
.main
  padding-top: 30px
  display: flex
  .main-call
    background: $purple
    padding: 20px 15px
    text-align: center
    &-text
      margin-bottom: 10px
      color: #fff
    &-phone
      .number
        font-family: Open Sans
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 25px
        color: #FFFFFF
    .text
      text-align-last: left
      margin: 30px 0 17px 0
      color: #fff
    .icon
      display: flex
      justify-content: space-between
      &-link
        display: flex
        flex-direction: row
        align-items: center
        p
          margin-left: 10px
          font-family: Open Sans
          font-weight: bold
          font-size: 14px
          line-height: 19px
          color: #FFFFFF
    .info
      text-align-last: left
      padding: 26px 0 20px 0
      .email, .time, .location
        display: flex
        align-items: center
        margin-bottom: 20px
        p
          margin: 0 5px 0 10px
          font-family: Open Sans
          font-weight: bold
          font-size: 14px
          line-height: 19px
          color: #FFFFFF
        span
          font-size: 14px
          line-height: 19px
          color: #FFB800
    .main-call-btn
      padding: 10px 90px
      &:hover
        background: #FFB800
        border: none
        border-radius: 8px
    .btn-wrap
      margin-top: 30px
      .btn
        padding: 10px 20px
        &:not(:first-child)
          margin-left: 34px
          padding: 10px 30px
        &:hover
          background: #FFB800
          border: none
          border-radius: 8px
  .price-info
    display: flex
    .img-wrap
      display: flex
      flex-direction: column
      margin: 0 40px 0 50px
      .license
        width: 92px
        height: 129px
        margin: 27px 0 0 30px
    .btn-wrap
      display: flex
      flex-direction: column
      .purple-btn
        color: #fff
        width: 247px
        background: #94A2C4
        border-radius: 8px
        text-align: center
        padding: 10px 0
        margin-bottom: 20px
        &:hover
          background: #6D81AE
      .text
        margin-top: 70px
        width: 247px
    .price
      width: 318px
      margin-left: 20px
      background: #fff
      opacity: 0.8
      border-radius: 8px
      padding: 20px 15px
      display: flex
      flex-direction: column
      text-align: center
      .purple-btn
        color: #fff
        width: 263px
        background: #94A2C4
        border-radius: 8px
        padding: 10px 15px
        margin: 0 auto
      &-title
        font-weight: bold
        font-size: 18px
        line-height: 25px
        margin: 15px 0
      .product-wrap
        text-align-last: left
        display: flex
        justify-content: space-between
        margin-bottom: 16px
      .price-link
        text-decoration-line: underline
        color: #075157
        margin-bottom: 16px
      .btn
        background: #FFB800
        border-radius: 8px
        border: none
        width: 212px
        margin: 0 auto
        padding: 10px 25px
