@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: #000;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
}

body {
  background: #F4F7F9;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.left-container {
  max-width: 380px;
  border-radius: 8px;
}

.main-container {
  max-width: 820px;
  margin-left: 26px;
}

.btn {
  color: #fff;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}

.btn-main {
  background: #FFB800;
  border-radius: 8px;
  border: none;
  width: 212px;
  margin: 0 auto;
  padding: 10px 25px;
  color: #fff;
}

.btn-main:hover {
  background: #ffa600;
}

.green-btn {
  padding: 10px;
  border: 1px solid #075157;
  border-radius: 8px;
  margin-left: 14px;
  color: #075157;
}

.green-btn:hover {
  background: #075157;
  color: #fff;
}

.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #075157;
}

.who-description {
  max-width: 508px;
  margin: 25px 0 20px 0;
}

.swiper-button-prev::after {
  content: '';
  background: #DADADA;
  background-image: url("../images/prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  left: -40px;
  z-index: 99;
}

.swiper-button-prev:hover::after {
  background: #94A2C4;
  background-image: url("../images/prev.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-next::after {
  content: '';
  background: #DADADA;
  background-image: url("../images/next.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  right: -40px;
}

.swiper-button-next:hover::after {
  background: #94A2C4;
  background-image: url("../images/next.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-pagination {
  left: 390px;
  bottom: 20px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #075157;
}

.swiper-pagination .swiper-pagination-bullet {
  margin-right: 10px;
}

.footer-span {
  color: #075157;
  margin-bottom: 20px;
  display: block;
}

.download-title {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #075157;
}

.exel {
  background: url("../images/exel-bg.png") center no-repeat;
  max-width: 770px;
  height: 190px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 40px;
  margin-bottom: 30px;
}

.exel img {
  margin-right: 45px;
}

.seo-description {
  margin: 20px 0;
}

.contact-description {
  max-width: 794px;
}

.metal-service-slider {
  padding-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 800px;
  }
  .main-wrap {
    display: block;
  }
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .description {
    max-width: 500px;
  }
  .main-container {
    margin: auto;
    max-width: 500px;
  }
}

@media screen and (max-width: 614px) {
  .main-container {
    max-width: 320px;
  }
  .swiper-pagination {
    left: 130px;
    bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .main-container {
    max-width: 250px;
  }
}

.header-wrap {
  color: #fff;
  padding: 15px 0;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav .header-menu {
  display: flex;
  flex-wrap: wrap;
}

.header-nav .header-menu .menu-item {
  padding: 10px;
  border: 1px solid #075157;
  border-radius: 8px;
  margin-left: 14px;
  margin-bottom: 10px;
}

.header-nav .header-menu .menu-item:hover {
  background: #075157;
}

.header-nav .header-menu .menu-item:hover .menu-item-link {
  color: #fff;
}

.header-nav .header-menu .menu-item-link {
  color: #075157;
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
  }
}

.main-wrapp {
  background: url("../images/main-bg.png") center no-repeat;
  min-height: 488px;
}

.main {
  padding-top: 30px;
  display: flex;
}

.main-call {
  background: rgba(109, 129, 174, 0.8);
  padding: 20px 15px;
  text-align: center;
  border-radius: 8px;
}

.main-call-text {
  margin-bottom: 10px;
  color: #fff;
}

.main-call-phone .number {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.main-call .text {
  text-align-last: left;
  margin: 30px 0 17px 0;
  color: #fff;
}

.main-call .icon {
  display: flex;
  justify-content: space-between;
}

.main-call .icon-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-call .icon-link p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.main-call .info {
  text-align: left;
  padding: 26px 0 20px 0;
}

.main-call .info .email, .main-call .info .time, .main-call .info .location {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.main-call .info .email p, .main-call .info .time p, .main-call .info .location p {
  margin: 0 5px 0 10px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.main-call .info .email span, .main-call .info .time span, .main-call .info .location span {
  font-size: 14px;
  line-height: 19px;
  color: #FFB800;
}

.main-call-btn {
  padding: 10px 80px;
}

.main-call-btn:hover {
  background: #FFB800;
  border: none;
  border-radius: 8px;
}

.main-call .btn-wrap {
  margin-top: 30px;
}

.main-call .btn-wrap .btn {
  padding: 10px 20px;
}

.main-call .btn-wrap .btn:not(:first-child) {
  margin-left: 20px;
  padding: 10px 30px;
}

.main-call .btn-wrap .btn:hover {
  background: #FFB800;
  border: none;
  border-radius: 8px;
}

.main .price-info {
  display: flex;
  flex-wrap: wrap;
}

.main .price-info .img-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 20px;
}

.main .price-info .img-wrap .license {
  width: 92px;
  height: 129px;
  margin: 27px 0 0 30px;
}

.main .price-info .btn-wrap {
  display: flex;
  flex-direction: column;
}

.main .price-info .btn-wrap .purple-btn {
  color: #fff;
  width: 247px;
  background: #94A2C4;
  border-radius: 8px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.main .price-info .btn-wrap .purple-btn:hover {
  background: #6D81AE;
}

.main .price-info .btn-wrap .text {
  margin-top: 70px;
  width: 247px;
}

.main .price-info .price {
  max-width: 318px;
  margin-left: 20px;
  background: #fff;
  opacity: 0.8;
  border-radius: 8px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main .price-info .price .purple-btn {
  color: #fff;
  max-width: 263px;
  background: #94A2C4;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 0 auto;
}

.main .price-info .price-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 15px 0;
}

.main .price-info .price .product-wrap {
  text-align-last: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.main .price-info .price .price-link {
  text-decoration-line: underline;
  color: #075157;
  margin-bottom: 16px;
}

.main .price-info .price .btn {
  background: #FFB800;
  border-radius: 8px;
  border: none;
  width: 212px;
  margin: 0 auto;
  padding: 10px 25px;
}

@media screen and (max-width: 1024px) {
  .main-call .icon {
    display: block;
    margin-bottom: 5px;
  }
  .main-call .info .email p, .main-call .info .time p, .main-call .info .location p {
    margin-bottom: 5px;
  }
  .main-call-btn {
    display: block;
    padding: 10px;
    max-width: 100%;
  }
  .main-call .btn-wrap {
    margin-top: 10px;
  }
  .main-call .btn-wrap .btn {
    display: block;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .main-call .btn-wrap .btn:not(:first-child) {
    margin: 0;
    padding: 10px;
  }
  .main .price-info .img-wrap {
    display: none;
  }
  .main .price-info .price {
    margin: 0;
  }
  .main .price-info .btn-wrap {
    display: none;
  }
  .main .price-info .btn-wrap .purple-btn {
    width: 293px;
  }
  .main .price-info .btn-wrap .text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main-call {
    display: none;
  }
  .main .price-info {
    display: block;
  }
  .main .price-info .img-wrap {
    display: none;
  }
  .main .price-info .price {
    margin: 0;
  }
  .main .price-info .btn-wrap .purple-btn {
    max-width: 293px;
  }
}

@media screen and (max-width: 410px) {
  .main .price-info .price .purple-btn {
    font-size: 12px;
  }
}

.metal {
  display: flex;
  padding-top: 32px;
}

.metal .color-metal {
  background: #6D81AE;
  border-radius: 8px;
  height: 670px;
}

.metal .color-metal .title-info {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 65px;
  border-bottom: 1px solid #60749D;
}

.metal .color-metal-item {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 90px 20px;
  cursor: pointer;
}

.metal .color-metal-item .metal-item {
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.metal .color-metal-item .metal-item::after {
  content: url("../images/metal-services/metal-arrow.svg");
  position: absolute;
  right: 0;
  top: 0;
}

.metal .color-metal-item .metal-item .item-wrap {
  display: flex;
  align-items: center;
}

.metal .color-metal-item .metal-item .item {
  margin-left: 15px;
  font-weight: bold;
  color: #fff;
}

.metal .color-metal-item .metal-item .color-metal-ul {
  display: none;
}

.metal .color-metal-item .metal-item .color-metal-ul li {
  color: #fff;
  list-style: inside;
}

.metal .color-metal-item .active::after {
  content: url("../images/metal-services/metal-click.svg");
}

.metal-info .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.metal-info .metal-description {
  margin: 25px 0 20px 0;
}

.metal-service-wrap {
  display: flex;
}

.metal-service-wrap .metal-service {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
  margin-top: 30px;
  width: 244px;
  padding-bottom: 25px;
}

.metal-service-wrap .metal-service:not(:first-child) {
  margin-left: 30px;
}

.metal-service-wrap .metal-service-img {
  width: 100%;
  height: 152px;
}

.metal-service-wrap .metal-service-title {
  font-weight: bold;
  color: #075157;
  margin: 10px 15px 25px 15px;
}

.metal-service-wrap .metal-service .description {
  padding: 0 15px;
}

@media screen and (max-width: 1024px) {
  .metal {
    flex-wrap: wrap;
    justify-content: center;
  }
  .metal-info .title-wrap {
    display: block;
  }
  .metal-info .title-wrap .title--wrap-logo {
    margin-top: 15px;
  }
  .metal .color-metal {
    margin-bottom: 20px;
  }
}

.calculator-wrap {
  display: flex;
  margin-top: 35px;
}

.calculator-wrap .reviews {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.calculator-wrap .reviews .title {
  border-bottom: 1px solid #075157;
  padding: 20px 0 15px 0;
}

.calculator-wrap .reviews-description {
  font-size: 18px;
  line-height: 25px;
  color: #075157;
  margin: 15px 0 45px;
}

.calculator-wrap .reviews .review {
  text-align: left;
}

.calculator-wrap .reviews .review-first-item {
  display: flex;
  align-items: center;
  margin: 0 30px 0 50px;
}

.calculator-wrap .reviews .review-first-item span {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #075157;
  margin: 0 5px;
}

.calculator-wrap .reviews .review-first-item p {
  font-weight: bold;
  color: #B4C6C8;
}

.calculator-wrap .reviews .review-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px 0 50px;
}

.calculator-wrap .reviews .review-item .green-btn {
  padding: 8px 40px;
}

.calculator-wrap .reviews-info {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding-bottom: 30px;
  position: relative;
  text-align: center;
}

.calculator-wrap .reviews-info::before {
  content: url("../images/attention.svg");
  position: absolute;
  left: 5px;
  padding: 22px;
}

.calculator-wrap .reviews-info p {
  text-align: left;
  font-size: 18px;
  line-height: 25px;
  padding: 20px 30px 30px 65px;
  margin: auto;
  color: #075157;
}

.calculator-wrap .description {
  margin: 20px 0;
  max-width: 1200px;
}

.calculator-wrap .calculator {
  background: #FFFFFF;
  border: 1px solid #C0C0C0;
  border-radius: 8px;
  margin-bottom: 100px;
}

.calculator-wrap .calculator-title {
  text-align: center;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 10px 0;
}

.calculator-wrap .calculator .wrap {
  max-width: 685px;
  display: flex;
  position: relative;
}

.calculator-wrap .calculator .wrap .product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  border-right: 1px solid #C0C0C0;
}

.calculator-wrap .calculator .wrap .product .bold {
  border-top: 1px solid #C0C0C0;
  font-weight: bold;
  font-size: 14px;
  color: #075157;
  padding: 10px;
  height: 59px;
}

.calculator-wrap .calculator .wrap .product .bold span {
  font-weight: normal;
  color: #075157;
}

.calculator-wrap .calculator .wrap .info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 84px;
  border-right: 1px solid #C0C0C0;
}

.calculator-wrap .calculator .wrap .info span {
  border-top: 1px solid #C0C0C0;
  font-size: 14px;
  color: #075157;
  padding: 10px;
  height: 59px;
}

.calculator-wrap .calculator .wrap .calculator-popup {
  background: #6D81AE;
  border-radius: 8px;
  width: 208px;
  height: 343px;
  text-align: center;
  position: absolute;
  right: -136px;
  top: -46px;
}

.calculator-wrap .calculator .wrap .calculator-popup .calculator-title {
  color: #fff;
}

.calculator-wrap .calculator .wrap .calculator-popup span {
  color: #fff;
  display: block;
  margin: 20px 0;
}

.calculator-wrap .calculator .wrap .calculator-popup-wrap {
  border-top: 1px solid #C0C0C0;
}

.calculator-wrap .calculator .wrap .calculator-popup-wrap:last-of-type {
  border-bottom: 1px solid #C0C0C0;
}

.calculator-wrap .calculator .wrap .calculator-popup-wrap .btn-calc {
  color: #fff;
  width: 40px;
  height: 40px;
  border: none;
  background: #5B6FA3;
}

.calculator-wrap .calculator .wrap .calculator-popup-wrap .btn-calc:active, .calculator-wrap .calculator .wrap .calculator-popup-wrap .btn-calc:hover {
  background: #2E4684;
}

.calculator-wrap .calculator .wrap .calculator-popup-wrap input {
  color: #fff;
  width: 120px;
  text-align: center;
  outline: none;
  border: none;
  background: none;
}

.calculator-wrap .calculator .wrap .calculator-popup-wrap input::-webkit-outer-spin-button,
.calculator-wrap .calculator .wrap .calculator-popup-wrap input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator-wrap .calculator .wrap .calculator-popup .subtitle {
  margin-top: 5px;
  font-style: italic;
  color: #FFB800;
}

.calculator-wrap .calculator .wrap .calculator-popup input::-webkit-outer-spin-button,
.calculator-wrap .calculator .wrap .calculator-popup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator-wrap .calculator .wrap .calculator-popup .result {
  border: none;
  background: none;
  outline: none;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  width: 80px;
}

.calculator-wrap .calculator .wrap .calculator-popup .result::placeholder {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .calculator-wrap {
    flex-wrap: wrap;
  }
  .calculator-wrap .reviews {
    display: none;
  }
  .calculator-wrap .reviews-info {
    display: none;
  }
  .calculator-wrap .description {
    max-width: 600px;
  }
  .calculator-wrap .calculator {
    max-width: 619px;
  }
  .calculator-wrap .calculator .wrap {
    flex-wrap: wrap;
  }
  .calculator-wrap .calculator .wrap .calculator-popup {
    position: sticky;
  }
}

@media screen and (max-width: 768px) {
  .calculator-wrap .calculator {
    border: none;
    background: none;
  }
  .calculator-wrap .calculator-title {
    display: none;
  }
  .calculator-wrap .calculator .wrap .product, .calculator-wrap .calculator .wrap .info {
    display: none;
  }
  .calculator-wrap .calculator .wrap .calculator-popup {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}

.money {
  display: flex;
  margin-bottom: 30px;
}

.money-left {
  width: 50%;
  margin-top: 20px;
  padding-right: 30px;
}

.money-left .description {
  font-style: italic;
}

.money-left ul {
  margin-bottom: 30px;
}

.money-left ul li {
  list-style: inside;
}

.money-right {
  width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 20px 15px;
}

.money-right .input-wrap {
  display: flex;
}

.money-right .input-wrap .input-1 {
  width: 162px;
  display: flex;
  flex-direction: column;
}

.money-right .input-wrap .input-1 input::-webkit-outer-spin-button,
.money-right .input-wrap .input-1 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.money-right .input-wrap .input-1 span {
  font-style: italic;
  margin-bottom: 5px;
}

.money-right .input-wrap .input-1:not(last-child) {
  margin-right: 20px;
}

.money-right .input-wrap .input-1 select, .money-right .input-wrap .input-1 input {
  border: none;
  background: rgba(218, 218, 218, 0.8);
  border-radius: 8px;
  padding: 10px;
  width: 162px;
  height: 38px;
  color: #565655;
  margin-bottom: 20px;
  outline: none;
}

.money-right .input-2 {
  margin-bottom: 15px;
}

.money-right .input-2 .p-wrap {
  display: flex;
  flex-direction: row;
}

.money-right .input-2 .p-wrap p:not(last-child) {
  margin-right: 30px;
}

.money-right .input-2 .p-wrap p input {
  margin-right: 10px;
  outline: none;
}

.money-right .input-3 {
  display: flex;
  flex-direction: column;
}

.money-right .input-3 .input-wrap input {
  border: none;
  background: rgba(218, 218, 218, 0.8);
  border-radius: 8px;
  padding: 10px;
  width: 162px;
  height: 38px;
  color: #565655;
  margin-bottom: 20px;
  outline: none;
}

.money-right .input-3 .input-wrap input:not(last-child) {
  margin-right: 20px;
}

.money-right .input-3 p {
  font-size: 12px;
  color: #565655;
  margin-bottom: 20px;
}

.money-right .input-3 p input {
  outline: none;
}

.money-right .input-3 .btn-main {
  padding: 10px 25px;
  width: 222px;
}

@media screen and (max-width: 768px) {
  .money {
    display: block;
  }
  .money-left {
    width: 100%;
  }
  .money-right {
    width: 100%;
  }
}

@media screen and (max-width: 614px) {
  .money-right .input-wrap {
    flex-direction: column;
  }
  .money-right .input-2 .p-wrap {
    flex-direction: column;
  }
}

.equipment {
  margin: 30px 0;
}

.equipment-wrap {
  display: flex;
}

.equipment-wrap .equipment-item {
  background: #FFFFFF;
  border-radius: 8px;
  padding-bottom: 30px;
  text-align: center;
}

.equipment-wrap .equipment-item:not(:last-child) {
  margin-right: 30px;
}

.equipment-wrap .equipment-item-img {
  width: 100%;
}

.equipment-wrap .equipment-item-title {
  text-align: left;
  font-weight: bold;
  color: #075157;
  margin-bottom: 15px;
  padding: 10px;
}

.equipment-wrap .equipment-item .wrap-info {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  text-align: left;
}

.equipment-wrap .equipment-item .wrap-info .info {
  display: flex;
  flex-direction: column;
}

.equipment-wrap .equipment-item .wrap-info .mass {
  display: flex;
  flex-direction: column;
}

.equipment-wrap .equipment-item .green-btn {
  padding: 10px 80px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .equipment-wrap {
    display: block;
  }
}

.reception {
  background: rgba(109, 129, 174, 0.8);
  border-radius: 8px;
  padding: 20px;
  text-align: right;
}

.reception .title, .reception .description {
  color: #fff;
  text-align: left;
}

.reception .bg {
  display: flex;
}

.reception .bg::before {
  content: url("../images/logo-bg.svg");
  margin-right: 60px;
}

.reception .bg::after {
  content: url("../images/car.png");
}

@media screen and (max-width: 614px) {
  .reception .bg {
    display: block;
    text-align: center;
  }
  .reception .bg::before {
    margin: 0;
  }
  .reception .btn-main {
    display: block;
    margin-top: 15px;
  }
}

.delivery {
  margin-top: 30px;
  position: relative;
}

.delivery .area-slider {
  margin-top: 30px;
}

.delivery .area-slider .swiper-slide {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.delivery .area-slider .swiper-slide img {
  width: 100%;
  margin-bottom: 10px;
}

.delivery .area-slider .swiper-slide .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #075157;
  text-align: left;
  padding: 0 10px;
}

.delivery .area-slider .swiper-slide .description {
  margin: 15px 0 30px 0;
  text-align: left;
  padding: 0 10px;
}

.delivery .area-slider .swiper-slide .green-btn {
  margin: 0;
  padding: 10px 75px;
}

.point-wrap .point {
  margin-top: 35px;
}

.point-wrap .point-cart {
  background: #FFFFFF;
  border-radius: 8px;
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
}

.point-wrap .point-cart .label {
  position: absolute;
  right: 0;
  font-style: italic;
  color: #fff;
  background: #075157;
  border-radius: 8px 0px 0px 8px;
  padding: 7px 15px;
}

.point-wrap .point-cart .point-title {
  font-weight: bold;
  color: #2E4684;
  margin-bottom: 25px;
}

.point-wrap .point-cart-wrap .info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.point-wrap .point-cart-wrap .info img {
  margin-right: 20px;
}

.point-wrap .point-cart-wrap .info p, .point-wrap .point-cart-wrap .info a {
  font-size: 14px;
  line-height: 19px;
  color: #565655;
}

.point-wrap .point-cart-wrap .info a {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #075157;
}

.point-wrap .point-cart-wrap .info .navigate {
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  text-decoration-line: underline;
  color: #075157;
}

.point-wrap .point-cart-wrap .tel-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #075157;
  margin-bottom: 25px;
}

.point-wrap .point-cart-wrap .description {
  width: 335px;
}

.point-wrap .point-cart-wrap .map {
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.point-wrap .point-cart-wrap .info-wrap {
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .point-wrap .point-cart .label {
    position: static;
    border-radius: 8px;
    margin-bottom: 5px;
    text-align: center;
  }
  .point-wrap .point-cart .map {
    position: static;
    width: 100%;
  }
  .point-wrap .point-cart-wrap .description {
    width: 100%;
  }
}

.persons {
  background: rgba(109, 129, 174, 0.8);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

.persons-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.persons-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.persons-wrap ul {
  margin-bottom: 106px;
}

.persons-wrap ul li {
  color: #FFFFFF;
  list-style: inside;
  max-width: 318px;
}

.persons-wrap .natural {
  background: #565655;
  border-radius: 8px;
  padding: 20px;
  margin-right: 30px;
  background-image: url("../images/natural.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.persons-wrap .entities {
  background: #075157;
  border-radius: 8px;
  padding: 20px;
  background-image: url("../images/entities.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.persons-wrap .btn-wrap {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .persons-wrap {
    flex-direction: column;
  }
  .persons-wrap .natural {
    margin: 0 0 20px 0;
  }
  .persons-wrap .btn-main {
    font-size: 12px;
  }
  .persons-wrap ul {
    margin-bottom: 26px;
  }
}

.scrap-wrap {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.scrap-wrap .scrap-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.scrap-wrap .scrap-item img {
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .scrap-wrap {
    flex-wrap: wrap;
  }
  .scrap-wrap .scrap {
    margin-bottom: 30px;
  }
}

.photo {
  position: relative;
  margin: 20px 0 60px 0;
}

.photo-slider .swiper-wrapper .swiper-slide {
  border-radius: 8px;
}

.photo .photo-pagination {
  bottom: -30px;
}

.questions-wrap {
  margin-top: 25px;
}

.questions-wrap .questions {
  padding: 15px 0 15px 20px;
  background: #FFFFFF;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.questions-wrap .questions::after {
  content: url("../images/cross.svg");
  position: absolute;
  top: 8px;
  right: 14px;
}

.questions-wrap .questions-title {
  color: #A30C0C;
  font-weight: bold;
}

.questions-wrap .questions-text {
  margin-top: 20px;
  max-width: 553px;
}

.estimate-wrap {
  background: rgba(109, 129, 174, 0.8);
  border-radius: 8px;
  padding: 20px 45px 20px 20px;
  margin-bottom: 30px;
}

.estimate-wrap .estimate-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

.estimate-wrap .estimate {
  display: flex;
  position: relative;
}

.estimate-wrap .estimate .description {
  width: 302px;
  color: #FFFFFF;
}

.estimate-wrap .estimate .social-info span {
  color: #FFFFFF;
  margin-bottom: 15px;
  display: block;
}

.estimate-wrap .estimate .social-info .social-wrap {
  display: flex;
  align-items: center;
}

.estimate-wrap .estimate .social-info .social-wrap .social-link {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin: 0 20px 30px 0;
}

.estimate-wrap .estimate .social-info .social-wrap .social-link-img {
  margin-right: 10px;
}

.estimate-wrap .estimate .social-info .social-wrap .social .phone {
  color: #fff;
  font-weight: bold;
}

.estimate-wrap .estimate .btn-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
}

.estimate-wrap .estimate .btn-wrap .photo-link {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.estimate-wrap .estimate .btn-wrap .photo-link span {
  display: block;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
}

.estimate-wrap .estimate .btn-wrap .photo-link span:hover {
  text-decoration-line: underline;
}

.download {
  display: flex;
  align-items: center;
  background: url("../images/last-bg.png") no-repeat center;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 30px;
  max-width: 790px;
}

.download .pdf {
  margin-right: 55px;
}

@media screen and (max-width: 1024px) {
  .estimate-wrap {
    padding: 10px;
  }
  .estimate-wrap .estimate {
    display: block;
  }
  .estimate-wrap .estimate-img {
    display: none;
  }
}

@media screen and (max-width: 764px) {
  .download {
    display: none;
  }
  .download .btn-main {
    display: block;
    margin: 20px 0;
  }
}

.estimate-wrap .estimate .btn-wrap {
  position: static;
  padding-bottom: 10px;
}

.estimate-wrap .estimate .description {
  width: 100%;
}

.metal-reception-wrap .title-wrap {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.metal-reception-wrap .title-wrap .title {
  margin-right: 20px;
}

.metal-reception-wrap .metal-reception {
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
}

.metal-reception-wrap .metal-reception .left .text {
  margin: 20px 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #075157;
}

.metal-reception-wrap .metal-reception .left .text::before {
  content: url("../images/metal-reception/atention.svg");
  padding: 0 20px;
}

.metal-reception-wrap .metal-reception .right {
  margin: 20px 15px 20px 50px;
}

.metal-reception-wrap .metal-reception .right .description {
  margin-bottom: 25px;
}

.metal-reception-wrap .metal-reception .right .description b {
  color: #075157;
}

.metal-reception-wrap .metal-reception .right .input-wrap input {
  border: none;
  background: rgba(218, 218, 218, 0.8);
  border-radius: 8px;
  padding: 10px;
  width: 162px;
  height: 38px;
  color: #565655;
  margin-bottom: 20px;
  outline: none;
}

.metal-reception-wrap .metal-reception .right .export {
  margin-bottom: 15px;
}

.metal-reception-wrap .metal-reception .right .wt-wrap .wt {
  width: 76px;
  margin-right: 60px;
}

.metal-reception-wrap .metal-reception .right .wt-wrap .btn-main {
  padding: 10px 35px;
}

.metal-reception-wrap .metal-reception .right p input {
  margin-right: 10px;
}

.metal-reception-wrap .metal-reception .right .input-data {
  font-size: 12px;
  color: #565655;
}

.metal-reception-wrap .metal-reception-info-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.metal-reception-wrap .metal-reception-info-wrap .metal-reception-info {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}

.metal-reception-wrap .metal-reception-info-wrap .metal-reception-info .text {
  margin-left: 10px;
  font-weight: bold;
  color: #075157;
}

.service-map-wrap .service-map {
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  margin: 35px 0 30px 0;
}

.service-map-wrap .service-map .left {
  width: 50%;
}

.service-map-wrap .service-map .left .service-map-info-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.service-map-wrap .service-map .left .service-map-info-wrap .service-map-info .link {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #075157;
}

.service-map-wrap .service-map .left .service-map-info-wrap .service-map-info .link img {
  margin: 10px 15px 0 0;
}

.service-map-wrap .service-map .left .links {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.service-map-wrap .service-map .left .links-info {
  color: #075157;
  padding: 15px 20px;
}

.service-map-wrap .service-map .left .links-info:not(:last-child) {
  width: 90%;
  border-bottom: 1px solid #C0C0C0;
}

.service-map-wrap .service-map .left .links-info:hover {
  font-weight: bold;
  text-decoration-line: underline;
}

.service-map-wrap .service-map .right {
  width: 50%;
}

.service-map-wrap .service-map .right img {
  margin-top: 20px;
}

.contacts-wrap {
  margin: 30px 0;
}

.contacts-wrap .title {
  margin-bottom: 30px;
}

.contacts-wrap .contacts {
  display: flex;
}

.contacts-wrap .contacts .left {
  width: 50%;
  background: rgba(109, 129, 174, 0.8);
  border-radius: 8px;
  margin-right: 28px;
  padding: 20px;
}

.contacts-wrap .contacts .left::before {
  content: url("../images/contact/call-bg.svg");
  position: absolute;
}

.contacts-wrap .contacts .left .title-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contacts-wrap .contacts .left .title-wrap .call-bg {
  width: 78px;
  height: 78px;
}

.contacts-wrap .contacts .left .title-wrap span, .contacts-wrap .contacts .left .title-wrap .phone-link {
  color: #fff;
}

.contacts-wrap .contacts .left .title-wrap .phone-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 40px;
}

.contacts-wrap .contacts .left .title-wrap .phone-link img {
  margin-right: 10px;
}

.contacts-wrap .contacts .left .messanger {
  color: #fff;
}

.contacts-wrap .contacts .left .contact-social {
  margin: 10px 0 30px;
  display: flex;
  align-items: center;
}

.contacts-wrap .contacts .left .contact-social .link {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: #fff;
}

.contacts-wrap .contacts .left .contact-social .link img {
  margin-right: 10px;
}

.contacts-wrap .contacts .left .info {
  display: flex;
  flex-direction: column;
}

.contacts-wrap .contacts .left .info .email {
  color: #fff;
  margin-bottom: 20px;
}

.contacts-wrap .contacts .left .info .email img {
  margin-right: 20px;
}

.contacts-wrap .contacts .left .info .email span {
  color: #FFB800;
  margin-left: 10px;
}

.contacts-wrap .contacts .left .info span {
  color: #fff;
  margin-bottom: 10px;
}

.contacts-wrap .contacts .left .info b {
  color: #fff;
  margin-bottom: 10px;
}

.contacts-wrap .contacts .left .info b span {
  color: #FFB800;
}

.contacts-wrap .contacts .right {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 20px 35px 30px 35px;
  width: 50%;
}

.contacts-wrap .contacts .right .details {
  text-align: center;
}

.contacts-wrap .contacts .right .details-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 75px;
}

.contacts-wrap .contacts .right .details .documents {
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.contacts-wrap .contacts .right .details .documents .text {
  display: flex;
  flex-direction: column;
}

.contacts-wrap .contacts .right .details .documents .text b {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #075157;
}

.contacts-wrap .contacts .right .details .documents .number {
  display: flex;
  flex-direction: column;
}

.contacts-wrap .contacts .right .details .documents .number span {
  font-size: 18px;
  line-height: 25px;
}

.contacts-wrap .contacts .right .details .copy {
  margin-top: 80px;
  display: block;
  text-decoration-line: underline;
  color: #075157;
}

.italic {
  font-style: italic;
  margin-bottom: 30px;
}

.contact-title {
  margin-bottom: 30px;
}

.contact-span {
  margin-top: 30px;
  font-weight: bold;
  display: block;
}

.contact-ul {
  margin-bottom: 30px;
}

.contact-ul li {
  list-style: inside;
}

.contact-map-cart {
  width: 100%;
  height: 285px;
  padding-right: 25px;
}

.footer-wrap {
  padding: 50px 0;
  background: #FFFFFF;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.15);
}

.footer-wrap .footer {
  margin: auto;
}

.footer-wrap .footer .footer-menu {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.footer-wrap .footer .footer-menu .menu-item {
  padding: 10px;
  border: 1px solid #075157;
  border-radius: 8px;
  margin-left: 14px;
}

.footer-wrap .footer .footer-menu .menu-item:hover {
  background: #075157;
}

.footer-wrap .footer .footer-menu .menu-item:hover .menu-item-link {
  color: #fff;
}

.footer-wrap .footer .footer-menu .menu-item-link {
  color: #075157;
}

.footer-wrap .footer-info-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-wrap .footer-info-wrap .footer-info .social-links {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.footer-wrap .footer-info-wrap .footer-info .social-links .social-link {
  margin-right: 20px;
}

.footer-wrap .footer-info-wrap .footer-contacts .contact-links-wrap {
  display: flex;
}

.footer-wrap .footer-info-wrap .footer-contacts .contact-links-wrap .contact-link {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #075157;
  font-weight: bold;
}

.footer-wrap .footer-info-wrap .footer-contacts .contact-links-wrap .contact-link img {
  margin-right: 10px;
}

.footer-wrap .footer-info-wrap .contact-info .info {
  text-align: left;
  padding: 26px 0 20px 0;
}

.footer-wrap .footer-info-wrap .contact-info .email, .footer-wrap .footer-info-wrap .contact-info .time, .footer-wrap .footer-info-wrap .contact-info .location {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-wrap .footer-info-wrap .contact-info .email p, .footer-wrap .footer-info-wrap .contact-info .time p, .footer-wrap .footer-info-wrap .contact-info .location p {
  margin: 0 5px 0 10px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #075157;
}

.footer-wrap .footer-info-wrap .contact-info .email span, .footer-wrap .footer-info-wrap .contact-info .time span, .footer-wrap .footer-info-wrap .contact-info .location span {
  font-size: 14px;
  line-height: 19px;
  color: #FFB800;
}

.footer-wrap .footer-info-wrap .footer-phone .phone {
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .footer-wrap .footer-info-wrap {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .footer-wrap {
    padding: 10px;
  }
  .footer-wrap .footer .footer-nav .footer-menu {
    flex-wrap: wrap;
  }
  .footer-wrap .footer .footer-nav .footer-menu .menu-item {
    margin: 0 0 10px 0;
  }
  .footer-wrap .footer-info-wrap .footer-contacts .contact-links-wrap .contact-link {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */