@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: #000;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
}

body {
  background: #F4F7F9;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.left-container {
  width: 380px;
  opacity: 0.8;
  border-radius: 8px;
}

.main-container {
  width: 820px;
}

.btn {
  color: #fff;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #075157;
}

.header-wrap {
  color: #fff;
  padding: 15px 0;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav .header-menu {
  display: flex;
}

.header-nav .header-menu .menu-item {
  padding: 10px;
  border: 1px solid #075157;
  border-radius: 8px;
  margin-left: 14px;
}

.header-nav .header-menu .menu-item:hover {
  background: #075157;
}

.header-nav .header-menu .menu-item:hover .menu-item-link {
  color: #fff;
}

.header-nav .header-menu .menu-item-link {
  color: #075157;
}

.main-wrapp {
  background: url("../images/main-bg.png") center no-repeat;
  height: 488px;
}

.main {
  padding-top: 30px;
  display: flex;
}

.main .main-call {
  background: #6D81AE;
  padding: 20px 15px;
  text-align: center;
  border-radius: 8px;
}

.main .main-call-text {
  margin-bottom: 10px;
  color: #fff;
}

.main .main-call-phone .number {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.main .main-call .text {
  text-align-last: left;
  margin: 30px 0 17px 0;
  color: #fff;
}

.main .main-call .icon {
  display: flex;
  justify-content: space-between;
}

.main .main-call .icon-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main .main-call .icon-link p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.main .main-call .info {
  text-align: left;
  padding: 26px 0 20px 0;
}

.main .main-call .info .email, .main .main-call .info .time, .main .main-call .info .location {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.main .main-call .info .email p, .main .main-call .info .time p, .main .main-call .info .location p {
  margin: 0 5px 0 10px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.main .main-call .info .email span, .main .main-call .info .time span, .main .main-call .info .location span {
  font-size: 14px;
  line-height: 19px;
  color: #FFB800;
}

.main .main-call .main-call-btn {
  padding: 10px 90px;
}

.main .main-call .main-call-btn:hover {
  background: #FFB800;
  border: none;
  border-radius: 8px;
}

.main .main-call .btn-wrap {
  margin-top: 30px;
}

.main .main-call .btn-wrap .btn {
  padding: 10px 20px;
}

.main .main-call .btn-wrap .btn:not(:first-child) {
  margin-left: 34px;
  padding: 10px 30px;
}

.main .main-call .btn-wrap .btn:hover {
  background: #FFB800;
  border: none;
  border-radius: 8px;
}

.main .price-info {
  display: flex;
}

.main .price-info .img-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 50px;
}

.main .price-info .img-wrap .license {
  width: 92px;
  height: 129px;
  margin: 27px 0 0 30px;
}

.main .price-info .btn-wrap {
  display: flex;
  flex-direction: column;
}

.main .price-info .btn-wrap .purple-btn {
  color: #fff;
  width: 247px;
  background: #94A2C4;
  border-radius: 8px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.main .price-info .btn-wrap .purple-btn:hover {
  background: #6D81AE;
}

.main .price-info .btn-wrap .text {
  margin-top: 70px;
  width: 247px;
}

.main .price-info .price {
  width: 318px;
  margin-left: 20px;
  background: #fff;
  opacity: 0.8;
  border-radius: 8px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main .price-info .price .purple-btn {
  color: #fff;
  width: 263px;
  background: #94A2C4;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 0 auto;
}

.main .price-info .price-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 15px 0;
}

.main .price-info .price .product-wrap {
  text-align-last: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.main .price-info .price .price-link {
  text-decoration-line: underline;
  color: #075157;
  margin-bottom: 16px;
}

.main .price-info .price .btn {
  background: #FFB800;
  border-radius: 8px;
  border: none;
  width: 212px;
  margin: 0 auto;
  padding: 10px 25px;
}

.metal {
  display: flex;
  padding-top: 32px;
}

.metal .color-metal {
  background: #6D81AE;
  border-radius: 8px;
  height: 696px;
}

.metal .color-metal .title-info {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 65px;
  border-bottom: 1px solid #60749D;
}

.metal .color-metal-item {
  display: flex;
  flex-direction: column;
}

.metal-info {
  padding-left: 30px;
}

.metal-info .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.metal-info .metal-description {
  margin: 25px 0 20px 0;
}

.metal-service-wrap {
  display: flex;
}

.metal-service-wrap .metal-service {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
  margin-top: 30px;
  width: 244px;
  padding-bottom: 25px;
}

.metal-service-wrap .metal-service:not(:first-child) {
  margin-left: 30px;
}

.metal-service-wrap .metal-service-img {
  width: 100%;
  height: 152px;
}

.metal-service-wrap .metal-service-title {
  font-weight: bold;
  color: #075157;
  margin: 10px 15px 25px 15px;
}

.metal-service-wrap .metal-service .description {
  padding: 0 15px;
}
/*# sourceMappingURL=style.css.map */